#plate-layout-grid-container {
  overflow-x: scroll;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 1px;
}

table th {
  text-align: center;
  background-color: #eeeeee;
}

.letter-cell {
  min-width: 30px;
  display: flex;
  justify-content: center;
  border-bottom: none;
  border-right: none;
  border-left: none;
  padding-top: 10px;
}

#plate-layout-table {
  display: flex;
  align-items: center;
}
